#CardPhoto {
    width: 18rem;
    background-color: #191b1b;
    color: white;
    margin: 20px 0 ;
    // box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit;
    box-shadow: 0px 0px 5px 0.5px black;
    .card-body {
        .row {
            display: flex;
            align-items: center;
            .col1 {
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }
            .col2 {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding: 0;

            }
        }
        .line1 {
            display: flex;
            .match {
                color: yellowgreen;
                font-size: 14px;
            }
            .age{
                padding: 0 5px;
                border: 1px solid #777;
            }
            .quality{
                padding: 0 2px;
                border: 1px solid #777;
                font-size: 12px;
            }
            p{
                font-size: 14px;
                font-weight: bold;
                margin: 5px 10px 5px 0px;
            }

        }
        .line2 {
            display: flex;
            align-items: center;
            p {
                font-size: 15px;
                font-weight: 600;
                margin: 0;
                letter-spacing: 2px;
            }
        }
    }
}
