.black{
  background-color: ;
}
.banner {
  position: relative;
  color: white;
  object-fit: contain;
  height: 448px;
  /* border: 5px solid wheat; */
}
.banner-contents {
  margin-left: 30px;
  padding-top: 140px;
  height: 190px;
}

.banner-title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}
.banner-description {
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.8rem;
  max-width: 360px;
  height: 80px;
}
.banner-buttons{
   display: flex;
} 
.banner-button {
  cursor: pointer;
  color: white;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgba(51, 51, 51, 0.5);
  
}
.banner-button:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.5s;
}

.banner-fadebottom {
  
  
  height: 7.4rem;
  width: 100%;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
  /* border: 5px solid wheat; */
  position: absolute;
  bottom: 0;
}

.icons{
  margin:auto 10px ;
  stroke-width: 20px;
  stroke: #e6e6e6;
  padding: 4px;
  /* margin-left: 20px; */
  font-size:40px;
  color:rgba(51, 51, 51, 0.5);
  border : 1px solid #e6e6e6; 
  border-radius: 50px;
  
  /* fill: #e6e6e6; */
   background-color: rgba(51, 51, 51, 0.5);


}
.icons:hover{
  fill: #e6e6e6;

  /* color: #e6e6e6; */

  /* background-color: #e6e6e6 */


}
.iconx{
  position: absolute;
  top: 25px;
  right: 25px;
}

.iconx2{
  position: absolute;
  top: 25px;
  right: 75px;
}

.iconx3{
  position: absolute;
  top: 25px;
  right: 120px;
}
.icon-mute{
  position: absolute;
right: 25px;
}