.l-item {
  color: #fff;
  display: flex;
  align-items: center;
  margin: 15px;
  padding: 20px 25px;
  /* border: 1px solid white; */
}
.l-item:hover {
  background-color: rgba(51, 51, 51, 0.5);
}
.l-items {
  justify-content: center;

  margin: 15px;
  padding: 20px 25px;
  /* border: 1px solid white; */
}
.ep_img {
  width: 150px;
  height: 100px;
}
.m {
  margin-left: 10px;
}
.ep-title {
  display: inline-flex;
}
.ep-time {
  margin-right: 25px;
  float: right;
}
.hr {
  margin: 10px auto;
  width: 80%;
  height: 2px;
  border: 1px solid lightslategray;
}
.mb {
  margin-bottom: 15px;
}
